@import 'tailwindcss';

@theme {
	--color-foreground: #0c0c0c;
	--color-background: #fcfcfc;
}

.dark {
	--color-foreground: #fcfcfc;
	--color-background: #0c0c0c;
}

:root {
	background-color: var(--color-background);
	color: var(--color-foreground);
}
